*{
    margin: 0px;; 
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    margin:0;
    min-height: 100vh;
    
}
.map-container {
  position: relative;
  width: 100%;
  height: clamp(180px, 35vh, 260px);
  overflow: hidden;
}
.super {
  height: 260px;
  background-image: url("ABOUT\ US.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  margin: 0; 
  position: absolute;
  
}
.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4); 
  z-index: 1;
}

.mie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; 
  
  
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  text-align: center;
}


.title-web {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  font-size: clamp(2.5rem, 8vw, 6rem);
  font-weight: bold;
  color: #8b3e1f; 
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  font-weight:100;
  color: #9c7c6b;
  margin-top: 5px; 
}
/* ============= NOM"TEKS END======== */

.navbar{
    display:flex;
    align-items: center;
    gap :4px;  
    background-color:#5b1f0f ;
    padding :15px 16px;
    flex-wrap: wrap;
    justify-content: space-between; /* untuk memberikan jarak antara navbar */
    flex :1px;
    position :sticky;
    top:0px;
    left :0px;
    width :100%;
    z-index:1000!important;
    
}

.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    flex: 1; 
}
.nav-links.active {
  border-bottom: 2px solid #f5e7db;
  padding-bottom: 4px;
} 


/* navvbar text */
.text{
    color :white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    align-items: center;

}

.nav-link.active {
  border-bottom: 1px solid #f5e7db;
  width: 40px;
  border-width: 2px;
  padding-bottom: 1px;
}



/*================= NAVBAR END======================== */
/*=================KONTEN============================= */
.main-content {
  padding: 24px;
}

/* =====================
   WRAPPER (HORIZONTAL LOCK)
===================== */
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;        /* KE SAMPING */
  grid-auto-columns: 220px;      /* FIX WIDTH CARD */
  gap: 20px;

  
  overflow-y: visible;           
  padding: 12px 6px 20px;
  scroll-behavior: smooth;
}

.card-wrapper::-webkit-scrollbar {
  height: 6px;
}
.card-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* =====================
   CARD
===================== */
.card {
  display: block; 
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 32px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

/* =====================
   IMAGE
===================== */
.card-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* =====================
   BODY
===================== */
.card-body {
  padding: 14px;
}

.card-title {
  font-size: 15px;
  margin-bottom: 6px;
  line-height: 1.3;
}

.card-category {
  font-size: 12px;
  margin-bottom: 12px;
  line-height: 1.4;
}

/* =====================LOCATION===================== */
.card-location {
  display: flex;
  gap: 8px;
}

/* ================= ABOUT TITLE ================= */
.section-title {
  text-align: center;
  margin: 40px 0 60px;
}

.section-title span {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #8b3e1f;
  background: white;
  padding: 12px 40px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* ================= VISI MISI ================= */
.visi-misi {
  margin-bottom: 30px;
}

.sub-title {
  margin-bottom: 25px;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #9f3214;
  letter-spacing: -1px;
  padding: 20px 10px 10px 65px; 
  text-align: center;  /* penting */
  letter-spacing: 10px;
}

  .box {
  background: #8b3e1f;
  color: white;
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;
  line-height: 1.8;
  min-height: 100px;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 50px;
  font-style: italic;
}

/* divider tengah */
.divider {
  display: flex;
  justify-content: center;
}

.divider::before {
  content: "";
  width: 2px;
  background: #8b3e1f;
  height: 100%;      /* ngikutin tinggi row */
}

/* ================= HISTORY ================= */
.history {
  text-align: center;
  margin-bottom: 50px;
}

.history-title {
  margin-bottom: 25px;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #9f3214;
  letter-spacing: -1px;
  padding: 20px 10px 10px 65px; 
  text-align: center;  /* penting */
  letter-spacing: 10px;
}


.history-box {
  max-width: 1300px;
  margin: auto;
  background: #8b3e1f;
  color: white;
  padding: 30px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 1.8;
  font-style: italic;
}

/* ================= TEAM ================= */
.team {
  text-align: center;
  margin-bottom: 80px;
}

.team-title {
  margin-bottom: 25px;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: 900;
  color: #9f3214;
  letter-spacing: -1px;
  padding: 20px 10px 10px 65px; 
  text-align: center;  /* penting */
  letter-spacing: 10px;
}

.team-box {
    max-width: 1300px;
    margin: auto;
  background: #8b3e1f;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.team-box img {
  width: 200px;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
}

/* ================= TEAM IMAGE ANIMATION ================= */
.team-box img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;

  /* animation dasar */
  transition: 
    transform 0.4s ease,
    box-shadow 0.4s ease,
    filter 0.4s ease;
  cursor: pointer;
}

/* efek pas hover */
.team-box img:hover {
  transform: translateY(-12px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  filter: brightness(1.05);
}

/* ================ KONTEN END==========================*/


/* ============MEDIA QUERIES (RESPONSIVE DESIGN)=========*/

/* 1. TABLET (iPad - Max width 1024px) */
@media screen and (max-width: 1024px) {
    .map-container {
        height: 220px; /* Sedikit lebih pendek untuk tablet */
    }

    .navbar {
        padding: 15px 20px; /* Memperbaiki ketebalan navbar */
    }
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr); /* 3 kolom di tablet */
        grid-auto-flow: row;
        overflow-x: hidden;
    }
    .box, .history-box, .team-box {
        max-width: 90%;
      }
}

/* 2. HANDPHONE (HP - Max width 600px) */
@media screen and (max-width: 600px) {
    .map-container {
        height: 180px; /* Banner lebih kecil di HP */
    }
    .title-web {
        font-size: 2.5rem; /* Ukuran teks judul lebih proporsional di layar kecil */
        letter-spacing: 1px;
    }
    .subtitle {
        font-size: 0.8rem;
    }
    .navbar {
        padding: 12px 10px; /* Tetap tebal tapi tidak makan tempat */
        gap: 2px;
    }
    .text {
        font-size: 12px; /* Ukuran teks menu diperkecil sedikit agar muat sebaris */
    }
    .nav-link {
        flex: 1; /* Memastikan menu terbagi rata di layar sempit */
    }
}


.footer {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #5b1f0f;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin:0px;
  width: 100%;
  box-sizing: border-box;
}


.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}


.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: opacity 0.3s;
}


.footer-icon {
  width: 20px;
  height: 20px;
}


.footer-text {
  font-size: 15px;
  color: white;
}